[submodule "homework-2-lpwee"]
	path = homework-2-lpwee
	url = https://github.com/ucsc-cse110a/homework-2-lpwee
[submodule "homework-3-lpwee"]
	path = homework-3-lpwee
	url = https://github.com/ucsc-cse110a/homework-3-lpwee.git
